:host{
  display:block;
  margin: 20vh auto;
  margin-bottom: 5vh;
  z-index: 0;
}

.container{
  width: 80vw;
  display:flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  color: rgb(54, 211, 180);

  .description{
    align-self: center;
  }

  .temps-container{
    margin-top:0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .current-temp{
      width: 50%;
      font-size: 15vw;

      @media(min-width: 40rem) {
        width: 30%;
        font-size: 10vw;
      }

      .unit{
        font-size: 10vw;

        @media(min-width: 40rem) {
          font-size: 7vw;
        }
      }
    }

    .min-max-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      margin-left: 2rem;

      .min-max-temps{
        font-size: 5vw;

        @media(min-width: 40rem) {
          font-size: 3vw;
        }
      }
    }
  }
}

.graph-container{
  display: block;
  position: relative;
  bottom:0;
  width: 100vw;
  margin: 0 auto;

  .graph{
    display: block;
    width:80%;
    max-width:90%;
    margin: auto;
    margin-top: 0;
  }

  button{
    background-color: rgb(54, 211, 180);
    color: white;
    border: 1px solid #213a7f;
    font-size: large;
    border-radius: 10px;

    &:hover{
      border: 1px solid #bfcc07;
    }
  }

  .scroll-left {
    float: left;
    margin-left: 15%;
  }

  .scroll-right {
    float: right;
    margin-right: 15%;
  }

  button:disabled{
    background-color: rgb(148, 174, 158);
    cursor: not-allowed;
    border: 1px solid #213a7f;
  }
}

.message{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: large;
  font-weight: 600;
  padding: 3rem;

  .red{
    color: red;
  }
}

.none{
  display: none;
}




